
*{
  margin:0;
  padding:0;
  text-decoration: none;
}

.button {
  background-color: dimgrey;
}

.picture {
  object-fit: cover;
  width: 100%;
  height: 100%;


}

body {
  background-image: url("Golf.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  /*object-fit: contain;*/


}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;

}

.welcomeHeader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.golfFlagLogo {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, 50%)
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-top: 10%;
  width: 75% !important;
  vertical-align: central;
  justify-content: center;
  background-color: antiquewhite;

}

td, th {
  border: 5px solid #343a40;
  width: 100%;
  color: black;
  font-size: 15px;
  align-items: center;
  padding: 8px;



}

tr:nth-child(even) {

  font-size: 15px;
  font-weight: bold;
}


.containerSideBar{
  display:flex;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;



}

.sidebar{
  background-color: #343a40;
  border: hidden;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.3s;

}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
  margin-left: 15px;

}


.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: gainsboro;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: gainsboro;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

main{
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.add-listing {
  background: #4caf50 !important;
  color: white !important;
}

.icon {
  font-size: medium !important;
}

.icon:hover {
  cursor: pointer
}

.text-gray {
  color: gray
}

.iconTextRed {
  color: green

}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.listing-container {
  margin: 50px;
}

.listing-paper {
  padding: 50px;
}



/* Listing */
.main-listings{
  /*margin: 30px;*/
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.dashboardSection {
  width: 100vw;
  height: 25%;
}


.welcomeDashboard {
  color: white;
  font-size: 25px;
  background-color: #343a40;
  width: 100%;
  justify-content: center;

}

.dashboardText {
  font-size: 75px;
  height: 100px;
  padding-top: 75px;
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0 3px 3px rgba(255,255,255,0.5);
}

.dashboardHeader {
  background-image: url("https://thumbs.dreamstime.com/b/web-header-banner-11577882.jpg");
  background-size: cover;
  margin: 1%;
  border-radius: 50%;
  border: 5px solid white;
  text-align: center;
}

.App {
  margin: 0;
  width: 100% !important;

}

.header {
  background-color: #343a40;
  font-size: 25px;
  max-height: 2.4rem;
}

.aboutSection {
  justify-content: center;
  text-align: center;
  margin: 90px;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  background-color: #343a40;
  border: 5px double white;
  font-size: 20px;

}

.introduction-section {
  margin-top: 100px;
}



.footer{
  margin-top: 1rem;
  padding: 1.3rem;
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.allBoxes {
  display: flex;
  height: 600px;
  margin: 1%;
  padding: 1%;

}

.playersBox {
  flex-grow: 1;
  margin: 10px;
  background-color: #343a40;
  color: white;


}

.coursesBox {
  flex-grow: 1;
  margin: 10px;
  background-color: #343a40;
  color: white;


}

.gamesBox {
  flex-grow: 1;
  margin: 10px;
  background-color: #343a40;
  color: white;


}

.playersBoxH4 {
  text-align: center;
  text-decoration: underline;
}

.coursesBoxH4 {
  text-align: center;
  text-decoration: underline;

}

.gamesBoxH4 {
  text-align: center;
  text-decoration: underline;
}









